.PostBody {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.post {
  text-align: left;
}

.image {
  max-width: 750px;
  margin: auto;
  width: 20em;
}

img[src$="fractalTree"] {
  display: block;
  margin: 0 auto;
  width: 467px;
}
