ul#blogList {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

li.blog {
  line-height: 2rem;
  text-align: left;
  border-bottom: 2px white solid;
  height: 60px;

  cursor: pointer;
}

.blog:hover {
  color: gray;
}

.blog-link {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.date {
  font-size: 8px;
}

#Blog-Title {
  text-align: center;
}

@media all and (max-width: 30em) {
  li.blog {
    display: inline;
    margin: 0.4em auto;
  }
}
