#project-containter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

div.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Image-Container {
  position: relative;
  overflow: hidden;
}

.Image-Container .content {
  position: Absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
}

.Image {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.Image-Container:hover .Image {
  transform: scale(1.1);
  transition: 0.5s;
  overflow: hidden;
  opacity: 0.7;
}

@media (min-width: 750px) {
  #project-containter {
    grid-template-columns: repeat(3, 1fr);
  }
}
