.sidebar {
  margin-right: 5rem;
  padding: 0;
  width: 20vw;
}
.sidebarPosts {
  list-style: none;
  text-decoration: none;
  color: white;
  width: 100%;
  border-bottom: solid;
  li {
    border-bottom: solid;
    margin: 0;
    text-align: left;
  }
}

.blogTitle {
  margin: 8px;
}

.date {
  margin: 8px;
  font-weight: normal;
}

.date {
  font-family: italic;
}
